extend layout
block title
    title CMS

block content
    header#header
        hgroup
            h1 CMS

    section#canvas
        section.cms
            if message
                p #{message}

            if apikey
                p apikey: #{apikey}

            if books
                section#bookTable
                    h2 Books
                    table
                        thead
                            tr
                                th Title
                                th Author
                                th Link
                                th Label

                        tbody
                            for book, i in books
                                tr(data-id=book.id)
                                    td #{book.title}
                                    td #{book.author}
                                    td #{book.link}
                                    td #{book.label}

                    form.form-new-book(method="POST", action="/api/book")
                        fieldset
                            legend Create a new book
                        fieldset
                            input(name="title", placeholder="Title", type="text")
                            input(name="author", placeholder="author", type="text")
                            input(name="link", placeholder="link", type="text")
                            input(name="label", placeholder="label", type="text")
                            input(type="submit", value="Create Book")

block bootstrap
    if books
        script
            App.module("Data", function(Data, App) {
                Data.Books = function() {
                    return !{JSON.stringify(books)};
                };
            });
