extend layout
block content
    header#header
        hgroup
            h1 About / Contact

    section#canvas
        section.about
            section.profile
                figure(class='s-avatar-' + profile.label)
                h2 #{profile.firstname} #{profile.lastname}
                p #{profile.statement}

            h3 Networks
            section.networkList 
                ul.tipList
                    for network, i in networks
                        li
                            a(class='s-network-' + network.label, href='//' + network.url)
                                span.tip #{network.platform}

            h3 Books I like
            section.bookList 
                ul.tipList
                    for book, i in books
                        li
                            a(class='s-book-' + book.label, href='//' + book.link)
                                span.tip #{book.title}
    section#modal
